
            body {
                background: rgb(143, 22, 178);
                color: rgb(45, 45, 45);
                padding: 10px;
                font-family: arial;
            }
            header {
                font-size: 1.5em;
                font-weight: bold;
            }
            [id=all-contents] {
                max-width: 800px;
                margin: auto;
            }

            /* navigation menu */
            nav {
                background: rgb(7, 185, 252);
                margin: 0 auto;
                margin-bottom: 20px;
                display: flex;
                padding: 10px;
                border: 2px solid;
                border-radius: 5px;
            }
            nav header {
                display: flex;
                align-items: center;
                color: rgb(0, 0, 0);
                flex: 1;
            }
            nav ul {
                list-style-image: none;
            }
            nav li {
                display: inline-block;
                padding: 0 10px;
            }
            nav a {
                text-decoration: none;
                color: #fff;
            }

            /* main container area beneath menu */
            main {
                background: rgb(255, 192, 0);
                display: flex;
                border: 2px solid;
                border-radius: 5px;
                
               
            }
            [class=sidebar] {
                margin-right: 25px;
                padding: 10px;
            }
            [class=sidebar] img {
                width: 200px;
                border: 2px solid;
                border-radius: 5px;
                
            }
            [class=content] {
                flex: 1;
                padding: 15px;
            }
            [class=interests] header {
                font-size: 1.25em;
            }
        
        .gist {
   max-width:770px;
   overflow:auto;
}
@font-face {
                font-family: myFirstFont;
                src: url(Millennia.otf);
                font-weight: bold;
            }

            h1{
                font-family:myFirstFont;
                color: rgb(236, 65, 144);
                font-size : 46px;
            }
            h2{
                font-family:myFirstFont;
                color: rgb(86, 104, 238);
                font-size : 36px;
            }
            
            h3{
                font-family:myFirstFont;
                color: rgb(249, 108,52);
                font-size : 31px;
            }
            
            
            
            p{
                font-family:myFirstFont;
                color: rgb(102, 185, 53);
                font-size : 26px;
            }
			a{
                font-family:myFirstFont;
                color: rgb(102, 185, 53);
                font-size : 18px;
            }
            header{
                font-family:myFirstFont;
                color: rgb(102, 185, 53);
                font-size : 18px;
            }
            li{
                font-family:myFirstFont;
                color: rgb(102, 185, 53);
                font-size : 18px;
            }

